# Base de dados
rastreio.db
*.db.anterior
*.db

# Ambiente virtual
backend/venv/

# Python
__pycache__/
*.pyc

# Ficheiros com dados pessoais
*.xlsx

# Dist
dist_executavel/
backend/frontend_dist/
backend/build/
backend/dist/
backend/*.spec